extends ../layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    form(method="POST", action=("/admin/edit-product/" + product.id))
        .grid
            article.card.product-item
                header.card__header
                    .form-control
                        label(for="title") Title
                        br
                        input(type="text", name="title", id="title", value=(product.title))
                    .form-control
                        label(for="imageUrl") Image Url
                        br
                        input(type="text", name="imageUrl", id="imageUrl", value=(product.imageUrl))
                .card__content
                    .form-control
                        label(for="price") Price
                        br
                        input(type="text", name="price", id="price", value=(product.price))
                    .form-control
                        label(for="description") Description
                        br
                        textarea(name="description", id="description", value=(product.description))
                    .card__actions
                        button.btn(type="submit") Save
